.event-form {
    max-width: 570px;
    margin-top: 60px;
    /* background-color: yellow; */
    @media screen and (max-width: 393px) {
      margin-top: 20px;
    }
  }
  .form-error {
    background-color: var(--background-color-error);
    display: flex;
    justify-content: start;
    align-items: center;
    height: 44px;
    width: 100%;
    border-radius: 7px;
    column-gap: 10px;
    margin-left: 0px;
    > h1 {
      font-size: 14px;
      font-weight: 500;
      color: var(--text-error-color);
    }
    > img {
      margin-left: 10px;
    }
  }
  .create-event {
    margin-top: 50px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 18px;
    column-gap: 10px;
    > h1 {
      font-size: 24px;
      font-weight: 500;
      color: var(--text-black-color);
    }
    > p {
      font-size: 14px;
      font-weight: 500;
      color: var(--text-gray-color);
    }
  }
  .event-name {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    height: 72px;
    margin-top: 75px;
    > label {
      height: 24px;
      color: var(--text-black-color);
    }
    > input {
      height: 40px;
      width: 100%;
      color: var(--text-gray-color);
      padding-left: 10px;
      background-color: var(--background-color-light-gray);
      border: none;
      border-radius: 7px;
      outline: none;
    }
  }
  .event-error {
    border: 2px solid red!important;
  }
  .event-form-select{
    >button{
      width: 165px;
    }
  }
  .date-time {
    margin-top: 55px;
    > label {
      color: var(--text-black-color);
    }
    > div {
      margin-top: 15px;
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 5px;
      flex-wrap: wrap;
      > div {
        height: 40px;
        width: 281px;
        background-color: var(--background-color-light-gray);
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 7px;
        padding: 0px 14px;
        > img {
          width: 15.6px;
          height: 15.6px;
        }
        > input {
          width: 189px;
          height: 24px;
          background-color: transparent;
          border: none;
          outline: none;
        }
        > select {
          width: 189px;
          height: 24px;
          background-color: transparent;
          border: none;
          outline: none;
          appearance: none;
        }
        @media screen and (max-width: 393px) {
          > input {
            width: 80%;
          }
          width: 100%;
        }
      }
    }
  }
  .description {
    margin-top: 55px;
    > label {
      height: 24px;
      color: var(--text-black-color);
    }
    > textarea {
      margin-top: 10px;
      width: 100%;
      height: 80px;
      padding: 10px;
      background-color: var(--background-color-light-gray);
      border: none;
      border-radius: 7px;
      color: var(--text-gray-color);
      outline: none;
    }
  }
  .video {
    margin-top: 55px;
    > label {
      color: var(--text-black-color);
    }
    > div {
      margin-top: 10px;
      display: flex;
      justify-content: start;
      align-items: center;
      height: 30px;
      background-color: var(--background-color-light-gray);
      border-radius: 7px;
      column-gap: 10px;
      padding-left: 10px;
      > img {
        width: 20px;
        height: 20px;
      }
      > input {
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        outline: none;
      }
    }
  }
  .banner-image {
    margin-top: 55px;
    > label {
      height: 24px;
      color: var(--text-black-color);
    }
    > div {
      margin-top: 10px;
      background-color: var(--background-color-light-gray);
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 7px;
      > p {
        width: 80%;
        text-align: center;
        color: var(--text-gray-color);
        > a {
          color: var(--text-gray-color);
          text-decoration: underline;
          font-weight: 600;
        }
      }
    }
  }
  .form-button {
    margin-top: 55px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
    > .submit {
      width: 131px;
      height: 40px;
      background-color: var(--background-color-light-green);
      color: var(--text-active-color);
      border: none;
      border-radius: 7px;
      text-align: center;
    }
    > .cancel {
      border: none;
      background-color: transparent;
      width: 131px;
      height: 40px;
      color: var(--text-black-color);
      height: 40px;
      text-align: center;
    }
  }