*{
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: row;
}

.dark-mode {
  background-color: #282c34;
  color: white;
}
.light-mode {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
